[includeIf "gitdir:~/repositories/work/"]
	path = ~/.gitconfig-work
[includeIf "gitdir:~/repositories/personal/"]
    path = ~/.gitconfig-personal
[includeIf "gitdir:~/.dotfiles/"]
    path = ~/.gitconfig-personal
